version: '3.8'

services:
  app:
    image: kiononon2/lms-app:latest
    container_name: go-app-container
    ports:
      - "3030:3030"
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=qwerty
      - DB_NAME=goDB
    depends_on:
      db:
        condition: service_healthy
      keycloak:
        condition: service_started
    restart: always

  db:
    image: postgres:latest
    container_name: go-db-container
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwerty
      POSTGRES_DB: goDB
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - lms_data:/var/lib/postgresql/data
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_DB=postgres
      - KC_DB_URL_HOST=keycloak-db
      - KC_DB_PORT=5432
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_DB_DATABASE=keycloak
    command: "start-dev"
    depends_on:
      - keycloak-db
    ports:
      - "8082:8080"
  keycloak-db:
    image: postgres:latest
    container_name: keycloak_postgres
    restart: always
    ports:
      - "1235:5432"
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
      POSTGRES_DB: keycloak
    volumes:
      - keycloak_data:/var/lib/postgresql/data
volumes:
  lms_data:
  keycloak_data: